.alphacube_content h1{
  margin:0;
  padding:0;
  font:bold 13px Verdana, Arial;
  color:#000066;
  text-align:center;
}

.alphacube_title {
  color:#000;
  text-align:left;
  font: bold 12px arial;
}